# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
S3_BUCKET_BRONZE=oss-pulse-bronze-ms2026-ms2026
S3_BUCKET_SILVER=oss-pulse-silver-ms2026-ms2026

# Snowflake
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ROLE=TRANSFORMER
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=OSS_PULSE
SNOWFLAKE_SCHEMA_RAW=RAW
SNOWFLAKE_SCHEMA_STAGING=STAGING
SNOWFLAKE_SCHEMA_MARTS=MARTS

# LLM Providers
ANTHROPIC_API_KEY=
GOOGLE_API_KEY=
VOYAGE_API_KEY=

# Airflow
AIRFLOW_UID=50000
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW__WEBSERVER__SECRET_KEY=

# GitHub API (for RAG layer enrichment)
GITHUB_TOKEN=
